<div class="row text-center">
  <h4 class="question">
    {{stepOne?.name}}
  </h4>
  <div *ngFor="let option of stepOne?.subcategories | orderBy: 'id'">
    <app-wizard-choice-image [text]="option.name" imageUrl="../../assets/{{option.id}}.jpg" (click)="itemClick($event, option)" nextStep></app-wizard-choice-image>
  </div>
</div>
<div class="row">
</div>

