<div class="card-holder">
  <div class="card">
    <img src="https://18.195.113.31{{imageUrl}}" alt="image" class="card-img-top">
    <div class="card-block">
      <p>
        {{name}}
      </p>
    </div>
  </div>
</div>



