img{
  width: 100%;
  height: 300px;
}

.card-block{
  padding-top: 5px;
  text-align: left;
  border-top: solid 1px #E5E5E5;
  padding-left: 10px;
  color: #00335F;
  font-weight: bold;
}

.card {
  border-left: solid 1px #E5E5E5;
  border-right: solid 1px #E5E5E5;
  border-top: solid 1px #E5E5E5;
  border-bottom: solid 1px #E5E5E5;
}

.card-holder {
  padding: 5px;
}

.card-block p{
  font-size: 12pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
