<div class="row text-center">
  <h2 class="question">
    Volgende verwarmingsketels voldoen aan uw criteria:
  </h2>
  <div *ngFor="let product of results">
    <app-result-item class="col col-sm-3" [name]="product.name" [price]="product.price.formattedValue"
    [imageUrl]="product.images[1].url"></app-result-item>
  </div>
</div>
