<div class="container">
  <img src="../assets/header.png" class="header">
  <h1 class="text-center heading">Welke verwarming past bij jou?</h1>
  <wizard navBarLayout="large-empty-symbols" navigationMode="strict" class="wizard">
    <wizard-step stepTitle="Step 1" navigationSymbol="1" (stepEnter)="stepOne.getStepOneOptions($event)">
      <div class="text-center">
        <app-wizard-one #stepOne></app-wizard-one>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Step 2" navigationSymbol="2" (stepEnter)="stepTwo.getStepTwoOptions($event)" optionalStep>
      <div class="text-center">
        <app-wizard-two #stepTwo></app-wizard-two>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Step 3" navigationSymbol="3" (stepEnter)="stepThree.getStepThreeOptions($event)" optionalStep>
      <div class="text-center">
        <app-wizard-three #stepThree></app-wizard-three>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Step 4" navigationSymbol="4" (stepEnter)="stepFour.getStepFourOptions($event)" optionalStep>
      <div class="text-center">
        <app-wizard-four #stepFour></app-wizard-four>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Result" navigationSymbol="5" (stepEnter)="results.getResults($event)">
      <div class="text-center">
        <app-wizard-final #results></app-wizard-final>
      </div>
    </wizard-step>
  </wizard>
</div>


