<div class="row text-center">
  <h4 class="question">
    {{stepTwo?.name}}
  </h4>
  <div *ngFor="let option of choices  | orderBy: 'id'" class="options">
    <app-wizard-choice-image [text]="option.name" imageUrl="../../assets/{{option.id}}.jpg" (click)="itemClick($event, option)" goToStep="{{end}}"></app-wizard-choice-image>
  </div>
</div>
