img{
  width: 100%;
  height: 150px;
}

.card-block{
  border-left: solid 1px #E5E5E5;
  border-right: solid 1px #E5E5E5;
  border-bottom: solid 1px #E5E5E5;
  padding-top: 15px;
  height: 60px;
}

.selected{
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4), 0 7px 22px 0 rgba(0, 0, 0, 0.4);
}

.card-holder {
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  padding: 0px;
}
