<div class="col-sm-3 card-holder">
  <div class="card" [ngClass]="{'selected': active}">
      <img src="{{imageUrl}}" alt="image" class="card-img-top" [ngClass]="{'blurred': !active}">
      <div class="card-block">
        <p>
          {{text}}
        </p>
      </div>
    </div>
</div>
