<div class="row text-center">
  <h4 class="question">
    {{stepFour?.name}}
  </h4>
  <div *ngFor="let option of choices  | orderBy: 'id'">
      <app-wizard-choice-image [text]="option.name" imageUrl="../../assets/{{option.id}}.jpg"
      (click)="itemClick($event, option)" nextStep></app-wizard-choice-image>
  </div>
</div>
