/* You can add global styles to this file, and also import other style files */
.btn{
  background-color: #00335F;
  color: white;
  width: 120px;
  height: 45px;
}

.btn:hover{
  color: white !important;
  background-color: #029DE0;
}

.buttons{
  margin-top: 30px;
}

.question{
  margin-bottom: 30px;
}

.header{
  margin-bottom: 20px;
}

.wizard {
  margin-bottom: 100px;
}

.heading{
  margin-bottom: 40px;
}

.horizontal.large-empty-symbols[_nghost-c7]   ul.steps-indicator[_ngcontent-c7]   li.done[_ngcontent-c7]::after{
  border-color: #00335F !important;
  color: #00335F !important;
}

.horizontal.large-empty-symbols[_nghost-c8]   ul.steps-indicator[_ngcontent-c8]   li.optional[_ngcontent-c8]::after{
  border-color: #808080 !important;
  color: #808080 !important;
}
